/* Error: "Token path not found: size, typography, heading, xxl, font-weight  > "
 *    ,
 * 50 |   $map: get_token_value($keys...);
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/mono/tokens.scss 50:9  responsive-token()
 *   src/mono/font.scss 51:13   fluid-font()
 *   local/main.scss 80:5       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: "Token path not found: size, typography, heading, xxl, font-weight  > "\a    \2577 \a 50 \2502    $map: get_token_value($keys...);\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/mono/tokens.scss 50:9  responsive-token()\a   src/mono/font.scss 51:13   fluid-font()\a   local/main.scss 80:5       root stylesheet';
}
