// Import MONO core
@use 'mono';

// Import local variables
// @use 'test/variables' as *;

// @use 'test' as * with (
//   $test: $test,
//   $map: $map
// );

// @debug '/////// tokens:';
// @debug mono.$tokens;
// @debug '/////// slots:';
// @debug mono.$slots;
// @debug '/////// configs:';
// @debug mono.$configs;

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include mono.generate_tokens_variables();
}

.test {
  @include mono.fluid-token('width', ('size', 'typography', 'heading', 'lg', 'font-size'), 'xx', 'md', 'sm', 'md');
  height: 10rem;

  // background-color: var(--color-page-accent);


  // @include mono.responsive-token('width', 'size', 'page', 'spacing', '1000'); 
  @include mono.themed-token('background-color', 'color', 'page', 'accent');

}

// Reset styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh; 
  // background-color: token(color, white);
  // color: token(color, page, text, base, '#green');

  // @include theme('--test', color, page, text, base);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;

  h1 {
    @include mono.fluid-font(
      ('heading', 'lg'),
      'xx', 'md',
      'sm', 'md'
    );
  }
}

.button {
  @include mono.variants('button', 'color', 'button');
  @include mono.variants('button', 'size', 'button');

  --_button-background-color: var(--button-background);
  --_button-text-color: var(--button-text);

  --_button-border-width: var(--button-inner-border-width, .125em);
  --_button-border-color: var(--button-inner-border);
  --_button-border-style: var(--button-inner-border-style, solid);
  --_button-border-radius: var(--button-inner-border-radius);

  --_button-outline-width: var(--button-outer-border-width, .125em);
  --_button-outline-color: var(--button-outer-border);
  --_button-outline-style: var(--button-outer-border-style, solid);

  padding: 1rem 2rem;

  background-color: var(--_button-background-color);
  color: var(--_button-text-color);
  border: var(--_button-border-width) var(--_button-border-style) var(--_button-border-color);
  outline: var(--_button-outline-width) var(--_button-outline-style) var(--_button-outline-color);
  border-radius: var(--_button-border-radius);
  
}

// // Demo Grid
// .grid {
//   @include responsive-grid();
//   position: fixed;
//   z-index: -1;
//   width: 100%;
//   height: 100vh;

//   &__item {
//     height: 100vh;
//     background: rgba(token(color, green), 0.1);

//     &:nth-child(odd) {
//       background: rgba(token(color, dark-green), 0.1);
//     }
//   }
// }

// // Demo Content
// .content {
//   @include responsive-grid();
//   margin: 2rem auto;
//   padding: 2rem;

//   h1 { 
//     @include typography(heading-2xl);
//     @include responsive-slot('grid-column', grid, typography, h1);
//   }

//   h2 { 
//     @include typography(heading-xl);
//     @include responsive-slot('grid-column', grid, typography, h2);
//   }

//   h3 {
//     @include typography(heading-lg);
//     @include responsive-slot('grid-column', grid, typography, h3);
//     @include responsive-size('margin-bottom', xl);
//     @include responsive-size('padding', md);
//     @include responsive-border-radius(md);
//   }

//   p {
//     @include typography(text-md);
//     @include responsive-slot('grid-column', grid, typography, p);
//     margin-bottom: 1rem;

//     &.intro {
//       @include typography(text-lg);
//     }

//     &.small {
//       @include typography(text-sm);
//     }
//   }
// }

// // Demo Layout
// .layout {
//   @include responsive-grid();
//   margin: 2rem 0;
//   padding: 1rem;

//   &__item {
//     height: 100px;
//     border-radius: 4px;

//     &--wide {
//       grid-column: slot(grid, wide);
//       background-color: rgba(token(color, green), 0.3);
//     }

//     &--component {
//       grid-column: slot(grid, component);
//       background-color: rgba(token(color, dark-green), 0.3);
//     }

//     &--text {
//       grid-column: slot(grid, text);
//       background-color: rgba(token(color, default), 0.3);
//     }
//   }
// }

