@function to-string($list, $glue: "", $is-nested: false) {
  $result: "";

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    @if type-of($e) == list {
      $result: $result + to-string($e, $glue, true);
    } @else {
      @if $i != length($list) or $is-nested {
        $result: $result + $e + $glue;
      } @else {
        $result: $result + $e;
      }
    }
  }

  @return $result;
}
