@use 'sass:map';
@use 'sass:list';
@use 'sass:string';

/// Get value from a tokens map
///
/// @param {string} $keys - The key to get the value from the tokens map.
///
/// @returns {any} - The value from the tokens map.
@function token($keys...) {
  $quotedKeys: ();

  // Quote each key
  @each $k in $keys {
    @if (type-of($k) == string) {
      $quotedKeys: list.append($quotedKeys, string.quote($k));
    }
  }

  $value: map.get($tokens, $quotedKeys...);

  // If values is a map, check for a default value (*) and return it.
  // Otherwise returns map.
  @if (type-of($value) == map) {
    @each $k, $v in $value {
      @if (string.index($k, '*') != null) {
        $value: map.get($value, $k);
      }       
    } 
  }

  @return $value;
}
