@use 'sass:meta';
@use 'sass:map';
@use 'sass:list';

/// Generate grid layout from the tokens map.
/// 
/// @param {string} $name - The name of the grid layout. Default value is 'main'.
/// @param {boolean} $breakpoint - Whether to include a breakpoint for the grid layout. Default value is false.
/// 
/// @returns {void} - Grid layout for given name and breakpoint.
@mixin grid($grid-map) {
  
  @if(meta.type-of($grid-map) == 'map') {
    $grid-columns: map.get($grid-map, 'columns');
    $grid-gap: map.get($grid-map, 'gap');
    $grid-width: map.get($grid-map, 'width');
    $grid-margin: map.get($grid-map, 'margin');

    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-gap: $grid-gap;
    width: $grid-width;
    margin: $grid-margin;
  }
}

/// Creates a responsive grid layout.
/// 
/// @param {string} $name - The name of the grid layout. Default value is 'main'.
///
/// @returns {void} - Responsive grid layout for given name.
@mixin responsive-grid($values: null) {
  $grid-map: if($values != null, $values, token(grid));

  @if (meta.type-of($values) == 'map') {
    @each $breakpoint, $grid in $values {
      @include screen($breakpoint) {
        @include grid($grid);
      }
    }
  } @else {
    @include grid($grid-map);
  }
}

