// Configuration variables with default values
$tokens: () !default;
$slots: () !default;
$configs: () !default;

@forward 'api/tokens' with (
  $tokens: $tokens
);

@forward 'tokens';
@forward 'variables';
@forward 'font';