@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "sass:string";

@use "api/tokens" as *;
@use "utils/breakpoints" as *;
@use "utils/strings" as *;
@use "utils/fluid" as *;
@use "screen" as *;

/// Get value from a map.
///
/// @param {string} $type - The type of the map to get the value from. Available types: token, slot.
/// @param {string} $keys - The key to get the value from the slot map.
///
/// @returns {any} - The value from the slot map.
@function token($keys...) {
  $value: get_token_value($keys...);

  @if meta.type-of($value) == "map" {
    @error 'Looks like this value goes deeper, please extend your arguments or use responsive-token function. Available keys: #{map.keys($value)}.';
  }

  @if $value == null {
    @error 'There is no value defined for #{$keys}';
  }

  @if is-function($value) {
    $value: get-function-value($value);
  }

  @if meta.type-of($value) == "string" {
    $value: string.unquote($value);
  }

  @return $value;
}

/// Get responsive pair of attribute & value from a map.
/// Value should be a part of collecion with breakpoints.
///
/// @param {string} $attr - The CSS attribute to assign the value to.
/// @param {list} $keys - The token path keys as a list (e.g., ('size', 'grid', 'gap')).
///
/// @returns {void} - The responsive pair of attribute & value from the map.
@mixin responsive-token($attr, $keys) {
  $map: get_token_value($keys...);
  $check: false;

  @if (meta.type-of($map) == "map" and $map != null) {
    @each $screen, $value in sortedBreakpoints() {
      $check: true;
      $value: map.get($map, '@' + string.quote($screen));

      @if $value != null {
        @include screen($screen) {
          @if (meta.type-of($value) == "string") {
            $value: string.unquote($value);
          }

          & {
            @if (meta.type-of($attr) == "list") {
              @each $attribute in $attr {
                #{$attribute}: $value;
              }
            } @else {
              #{$attr}: #{$value};
            }
          }
        }
      }
    }

    @if (not $check) {
      @error 'No breakpoints found. You need to select a key that returns a map containing one of following keys: #{map.keys(sortedBreakpoints())}';
    }
  } @else {
    @error 'No map found. Instead had: Type <#{meta.type-of($map)}>: #{$map}';
  }
}

/// Get themed pair of attribute & value from a map.
/// Value should be a part of collection with theme keys.
///
/// @param {string} $attr - The CSS attribute to assign the value to.
/// @param {list} $keys - The token path keys as a list (e.g., ('color', 'text')).
///
/// @returns {void} - The themed pair of attribute & value from the map.
@mixin themed-token($attr, $keys) {
  $map: get_token_value($keys...);

  @if (meta.type-of($map) == "map" and $map != null) {
    @each $theme, $value in $map {
      @if $value != null {
        $theme-name: str-replace($theme, '#', '');
        .theme-#{$theme-name} &,
        &.theme-#{$theme-name} { 
          #{$attr}: #{$value}; 
        }
      }
    }
  }
}
