@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';

@use 'utils/global' as *;
@use 'tokens' as *;
@use 'screen' as *;

/// Join path segments into a valid CSS variable name
/// @param {List} $path - List of path segments
/// @return {String} CSS variable name
@function join_path($path) {
  $result: '';
  @each $segment in $path {
    // Remove any quotes
    $segment: string.unquote($segment);
    @if $result == '' {
      $result: $segment;
    } @else {
      $result: $result + '-' + $segment;
    }
  }
  @return '--' + $result;
}

/// Recursively traverse the tokens map and output CSS variables
/// @param {Map} $map - The map to traverse
/// @param {List} $path - The current path in the traversal
/// @param {String} $theme - Current theme being processed (if any)
@function traverse_tokens($map, $path: (), $variables: ()) {

  @each $key, $value in $map {
    $current-path: $path;
    // Handle theme keys
    @if is_theme_key($key) {
      $var-name: join_path($path);
      $variables: map.set($variables, 'theme', sanitize-key($key), $var-name, $value);
    } @else if is_responsive_key($key) {
      $var-name: join_path($path);
      $variables: map.set($variables, 'responsive', sanitize-key($key), $var-name, $value);
    } @else {
      // Add non-theme keys to the path
      $current-path: list.append($current-path, sanitize-key($key));
    }
    
    // If value is a map, recurse
    @if meta.type-of($value) == 'map' {
      $variables: traverse_tokens($value, $current-path, $variables);
    } @else {
      // Generate variable name from path
      
      // $variables: map.set($variables, $var-name, $value);
    }
  }
  @return $variables;
}

/// Generate CSS variables from the tokens map
@mixin generate_tokens_variables {
  $variables: traverse_tokens($tokens);
  $theme: map.get($variables, 'theme');
  $responsive: map.get($variables, 'responsive');
  
  @each $theme-name, $theme-variables in $theme {
    &.theme-#{$theme-name} {
      @each $variable, $value in $theme-variables {
        #{$variable}: $value;
      }
    }
  }

  @each $breakpoint-name, $breakpoint-variables in $responsive {
    // @media (min-width: get_token('breakpoint', $breakpoint-name)) {
    @include screen($breakpoint-name) {
      @each $variable, $value in $breakpoint-variables {
        #{$variable}: $value;
      }
    }
  }
}