@use 'sass:map';
@use 'sass:list';

@use '../api/tokens' as *;
@use 'maps' as *;

// Get breakpoint value from tokens map
@function breakpoint($key) {
    // $breakpoints: map.merge(map.get($tokens, "breakpoint"), map.get($configs, breakpoints));
    $breakpoints: get_token('breakpoint');

    // @if str-index($key, '@') == 1 {
    //   $key: str-slice($key, 2);
    // }

    $value: map.get($breakpoints, $key);
    @return $value;
  }
  
  // Get map of sorted breakpoints from tokens map and config custom breakpoints
  @function sortedBreakpoints() {
    // $breakpoints: map.merge(map.get($tokens, "breakpoint"), map.get($configs, breakpoints));
    $breakpoints: get_token('breakpoint');

    // // Prepend all breakpoints with @ character
    // $prefixed-breakpoints: ();
    // @each $key, $value in $breakpoints {
    //   $prefixed-breakpoints: map.set($prefixed-breakpoints, "@#{$key}", $value);
    // }
    // $breakpoints: $prefixed-breakpoints;

    @return map-sort-by-values($breakpoints);
  }

  @function is-valid-breakpoint($string) {
    $breakpoints: map.keys(sortedBreakpoints());
    @return list.index($breakpoints, $string);
  }
